.category-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap:20px;
	row-gap: 50px;
}

.category-view-container {
	display: flex;
	flex-direction: column;
	width: 100%;

		h2 {
			align-self: center;
			padding: 20px 0;
		}

}