* {
  box-sizing: border-box;
}

body {
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px 40px;
  font-family: 'Sofia Sans Condensed', sans-serif;  
}

a {
    text-decoration: none;
    color: black;
}